.header {
  text-align: center;
  font-size: 56px;
}
.text {
  color: #000;
}
.checkbox {
  /* text-align: center; */
  margin: 280px auto 0 auto !important;
  height: 100vh;
  float: right;
}
.checkbox2 {
  margin: 280px auto 0 auto !important;
  height: 100vh;
  float: left;
}