.container {
  margin: 0 auto;
  text-align: center;
  width: 600px;
  height: 600px;
}
.header {
  text-align: center;
  font-size: 56px;
}
.text {
  color: #000;
}
.box {
  width: 250px;
  height: 200px;
  border: thin black solid;
  display: inline-block
}
.checkbox {
  /* text-align: center; */
  /* margin: 280px auto 0 auto !important; */
  /* height: 100vh; */
  float: right;
  display: inline-block;
}
.checkbox2 {
  /* margin: 280px auto 0 auto !important; */
  /* height: 100vh; */
  float: left; 


}

/* #price-results {
  margin-bottom: 0px;
} */